<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>upload files</title>
  </head>
  <body>
    <h1>Upload your image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="">Upload files</label>
      <input type="file" name="profileImage" />
      <button type="Upload">submit</button>
    </form>
  </body>
</html>
