<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
      <a href="/" class="text-blue-500 inline-block mb-10">Go Back to Home</a>
      <form action="/update/<%=users._id%>" method="post">
        <input class="block w-1/4 bg-zinc-800 text-white rounded-md outline-none
        px-5 py-2 type="text" placeholder="Name" name="name"
        value="<%=users.name%>"/> <input class="block w-1/4 bg-zinc-800
        text-white rounded-md outline-none px-5 py-2 type="text"
        placeholder="Email" name="email" value="<%=users.email%>"/> <input
        class="block w-1/4 bg-zinc-800 text-white rounded-md outline-none px-5
        py-2 type="text" placeholder="Image" name="image"
        value="<%=users.image%>"/>
        <input
          class="mt-2 bg-yellow-600 text-black px-6 py-2 rounded-md"
          type="submit"
          value="Update User"
        />
      </form>
    </div>
  </body>
</html>
